@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "./header/header.css";
@import "./prototype/prototype.css";
@import "./footer/footer.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #FF4E01;
    --secondary-color: #ffffff;
    --tertiary-color: #1c1c1c; 
    --quaternary-color: #fdc030;
    --quinary-color: #ff3e57;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}